body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#login-wrap {
    max-width: 600px;
    margin: 0 auto;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}