extends layout

block aux_head
    script(type='text/javascript').
        var $ = jQuery;
        $(document).ready(function(){
            $.get("/keygen", function(data){
                $(".genKey").val(data);
            }); 
            $(".genKey").click(function(){
                $.get("/keygen", function(data){
                    $(".genKey").val(data);
                }); 
            });
        });

block content
    #login-wrap
        .panel.panel-primary
            .panel-heading
                .panel-title TalkSocket
            .panel-body
                form.form-horizontal
                    .fieldset
                        legend 
                            h3 Use this key
                            input.form-control(type="text", disabled='' placeholder="Generated Key", class="genKey")
                        .form-group
                            .col-lg-10
                                h3 or enter a key
                                input.form-control(type='text', placeholder='Your friend\'s key')
                        .form-group
                            .col-lg-10
                                button.btn.btn-primary(type='submit') Submit
                                .divider
                                button.btn.btn-default Regenerate