extends layout

block aux_head
    script(type='text/javascript').
        var $ = jQuery;
        $(document).ready(regenerateKeys);

        function regenerateKeys(){
            $.get("/keygen", function(data){
                $(".genKey").val(data);
            }); 
        }

        var attemptLogin = function(){
                var postdata = {
                    "ownkey": $(".genKey").val(),
                    "remotekey": $(".remoteKey").val()
                };
                alert(JSON.stringify(postdata));
                $.post('/user/', postdata, function(data){
                    alert(JSON.stringify(data));
                });
        };

block content
    #login-wrap
        .panel.panel-primary
            .panel-heading
                .panel-title TalkSocket
            .panel-body
                form.form-horizontal
                    .fieldset
                        legend 
                            h3 Use this key
                            input.form-control(type="text", disabled='' placeholder="Generated Key", class="genKey")
                        .form-group
                            .col-lg-10
                                h3 or enter a key
                                input.form-control(type='text', placeholder='Your friend\'s key', class="remoteKey")
                        .form-group
                            .col-lg-10
                                button.btn.btn-primary(class='postLogin',type='button', onclick='attemptLogin(); return false;') Login
                                .divider
                                button.btn.btn-default(onclick='regenerateKeys(); return false;') Regenerate