extends layout

block aux_head
    link(rel='stylesheet', href='/stylesheets/chat-style.css')
    script(type='text/javascript').
        var $ = jQuery;
        //$(document).ready(getName);

        function getName(){
            alert('enter name');
        }

block content
    .panel.panel-default
        .panel-heading
            ul.nav.nav-pills
                li.active
                    button.btn.btn-default Home
                li.active
                    .divider
                li.active
                   button.btn.btn-primary(onclick='deleteRoom(); return false;') Delete chatroom
        .panel-body.custom-panel-body
            section.module
                ol.discussion
                    li.self-msg
                        .arrow
                        .message
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            .sender
                                p John smith
                    li.other-msg
                        .arrow
                        .message
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            .sender
                                p John smith
                    li.self-msg
                        .arrow
                        .message
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            .sender
                                p John smith
                    li.self-msg
                        .arrow
                        .message
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            .sender
                                p John smith
                    li.other-msg
                        .arrow
                        .message
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            .sender
                                p John smith
                    li.self-msg
                        .arrow
                        .message
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            .sender
                                p John smith
                    li.self-msg
                        .arrow
                        .message
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            .sender
                                p John smith
                    li.other-msg
                        .arrow
                        .message
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            .sender
                                p John smith
                    li.self-msg
                        .arrow
                        .message
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                            .sender
                                p John smith
        .form-group
            .input-group.input-bg
                input.form-control(type='text')
                span.input-group-btn
                    button.btn.btn-default(type='button') Send
      